.buttonsBox {
  position: absolute;
  top: 100px;
  left: 420px;
  z-index: 99;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: #ffffff;
}
.title {
  margin-bottom: 10px;
  color: #ababab;
  font-size: 12px;
  text-align: center;
}
.divider {
  margin: 12px 0;
}
